<div class="bg" ng-show="state">
    <div class="bg1">
        <div class="title">{{title}}</div>
        <div class="mid">
            <div>
                <span>图书关键字</span>
                <input type="text"/>
            </div>
            <div>
                <span>优先级</span>
                <input type="text"/>
            </div>

        </div>
        <div class="bottom">
            <button class="alert-confrim1" ng-click="after_onconfim()">确认</button>
            <button class="alert-cancel1" ng-click="after_oncancel()">取消</button>
        </div>
    </div>
</div>