<div>
    <div class="lanBook-header">
        <h1>{{sectionfirst.sectionName}}栏目详情</h1>
        <div class="btn btn-warning" ng-click="reBack()">返回上一页</div>
    </div>

    <div class="lanBook-body">
        <div class="lanBook-body-header">栏目基本信息</div>
        <div class="lanBook-body-container">
            <div>
                <label>栏目名称</label>
                <span>{{sectionfirst.sectionName}}</span>
            </div>
            <div>
                <label>优先级</label>
                <span>{{sectionfirst.priority}}</span>
            </div>
        </div>
        <div class="lanBook-body-header1">
            <div> 图书列表(<span>{{section.length}}</span>)</div>
            <div class="btn btn-info" ng-click="addSectionBook()">添加</div>
        </div>
        <div class="lanBook-body-container1">
            <table class="table table-striped table-hover lanBookTable">
                <thead>
                    <tr>
                        <th>全选</th>
                        <th>图书名称</th>
                        <th>作者</th>
                        <th>出版社</th>
                        <th>出版日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in section">
                        <td><input type="checkbox"/></td>
                        <td>{{item.bookName}}</td>
                        <td>{{item.authorName}}</td>
                        <td>{{item.publisherName}}</td>
                        <td>{{item.publishDate}}</td>
                        <td>
                            <button class="btn btn-danger">移除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <lwh-add-new-section title="添加图书信息" lanname="图书关键字" youxianji="优先级" state1="stateAddSectionBook" onconfirm="after_onconfim()"></lwh-add-new-section>
    </div>
</div>